h2{
  color: orange;
}

span{
  color: goldenrod;
}

#pets{
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  flex-basis: 400px;
}

.card{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 400px;
}

img{
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 500px){
  #pets{
    flex-wrap: wrap;
  }
}