<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniChat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/" class="current"> Home </a>
        <a href="/chats"> Chats </a>
        <a href="/chats/new"> New Chat </a>
    </nav>
    <h1>Welcome to Mini Chats</h1>
</body>
</html>