body{
  background-color: antiquewhite;
}

h1, h2{
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
}

.btn{
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 25%;
  margin: 1rem;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}